<div class="page-selector">
  <a href="/quiz1/profile" class="page-box">
    <img src="/quiz1/assets/profile.png" alt="Profile">
    <span>Profile</span>
  </a>
  <a href="/quiz1/hometown" class="page-box">
    <img src="/quiz1/assets/hometown.png" alt="Hometown">
    <span>Hometown</span>
  </a>
  <a href="/quiz1/food" class="page-box">
    <img src="/quiz1/assets/food.png" alt="Local Food">
    <span>Local Food</span>
  </a>
  <a href="/quiz1/tourist" class="page-box">
    <img src="/quiz1/assets/tourist.png" alt="Tourist Places">
    <span>Tourist Places</span>
  </a>
</div>

<div class="container-home">
    <h2>Hi! I'm Ahmad Loka Arziki</h2>
    <h1>Welcome to my website</h1>
    <p>Where local heritage meets digital future – celebrating the essence of home through code and creation.</p>
</div>
<script src="script.js"></script>
